
@{
    ViewBag.Title = "Chưa có quyền";
    Layout = "";
}

<h2 style="color:red;">Tài khoản chưa được cấp quyền</h2>
<h4>Bạn vui lòng liên hệ với quản trị để được hỗ trợ về vấn đề này. Trở lại trang đăng nhập <a href="/Admin/login/Index" title="Nhấn vào đây để trở về trang đăng nhập">tại đây</a></h4>

