@model IEnumerable<Stanford.ShopGolf.Business.Entity.Bounce>
@using Stanford_ShopGolf.Areas.Admin.Models
@using Stanford_ShopGolf.Areas.Admin.CommonAdmin

@{
    Layout = null;
    //Xử lý kiểm tra quyền sử dụng
    KiemTraQuyenChucNang.Instance.CheckPermission(ConstantData.ChucNangPhanMem.QuanLyVaiTro);
    bool isEdit = KiemTraQuyenChucNang.Instance.isSua;
    bool isDelete = KiemTraQuyenChucNang.Instance.isXoa;
}
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="tbBounce">
        <thead class="text-md-center">
            <tr>
                <th>
                    Tên Bounce
                </th>

                <th>
                    Ưu tiên
                </th>
                @if (isEdit == true || isDelete == true)
                {
                    <th width="40px">Xử lý</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BounceName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>

                    @if (isEdit == true || isDelete == true)
                    {
                        <td class="text-md-center" width="30px">
                            @if (isEdit)
                            {
                                <a href="#" onclick="Edit(@item.Id)"><i class="fa fa-pencil-square-o"></i></a>}

                            @if (isDelete)
                            {
                                @:&nbsp;&nbsp;| &nbsp;
                                <a href="#" onclick="Delete(@item.Id)"><i class="fa fa-trash-o"></i></a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Data table plugin-->
<script type="text/javascript">$('#tbBounce').DataTable();</script>