@using Stanford.ShopGolf.Business.Entity
@model  Slider
<div class="custom-hero-content">
    <div class="two-hero-content two-hero-content-left">
        <div class="hero-content-image">
            <img src="~/Content/Images/Slider/@Model.AnhDaiDien" />
        </div>
        <div class="hero-content-text">
            <h5 class="hero-title">@Model.TenSlider</h5>
            <div class="hero-sub-title">@Model.MoTa</div>
            <button class="btn btn-primary btn-lg hero-button">Xem ngay</button>
        </div>
    </div>
</div>
