@using Stanford_ShopGolf.ViewModels

<div class="mini-cart-container">
    <a class="mini-cart-link" href="/checkout">
        <i class="fa fa-shopping-cart"></i><span id="countGioHang"></span>
    </a>
</div>
