@using Stanford_ShopGolf.ViewModels
@model ProductViewModel
<div class="product-actions subsection-container">
    <a href="#" class="wishlist-icon" data-action="wishlist">
        <i class="fa fa-heart"></i>
        <span>Thêm vào yêu thích</span>
    </a>
    <a href="#" class="send-friend" data-action="sendfriend">
        <i class="fa fa-envelope"></i>
        <span>Gửi bạn bè</span>
    </a>
    <div class="social-sharing">
        <a href="#" title="Chia sẻ lên Facebook"><i class="fa fa-facebook-f"></i></a>
        <a href="#" title="Chia sẻ lên Facebook"><i class="fa fa-twitter"></i></a>
    </div>
</div>