@using Stanford_ShopGolf.ViewModels
@model ReviewViewModel
<div class="product-rate">
    <div class="rate-display" data-value="@Model.RateValue"></div>
    <div class="total-review">@Model.TotalReview đánh giá</div>
</div>
