@using Stanford_ShopGolf.ViewModels
@model int
@*@{
        var totalProducts = Model.Count();

    }*@
<div class="search-result-options d-flex justify-content-between">
    <h2 class="search-header">Tổng số @Model sản phẩm</h2>
    <div class="sort-by">
        <select class="browser-default custom-select" id="sortProduct">
            <option value="0" selected>Sản phẩm mới nhất</option>
            <option value="1">Giá từ thấp tới cao</option>
            <option value="2">Giá từ cao tới thấp</option>
            <option value="3">Sản phẩm nổi bật</option>
        </select>
    </div>
</div>