<ul class="refinement-list">
    @*Add them filler*@
    <!--<li class="item">
        <a class="btn btn-primary btn-circle" href="#">Option 1</a>
        <a href="#" class="clear-item">X</a>
    </li>
    <li class="clear-all"><a href="#" class="btn btn-link text-danger">Xóa hết</a></li>
    -->
</ul>