@using Stanford_ShopGolf.ViewModels
@model ProductViewModel
<div class="subsection-container">
    <div class="attribute">
        <span class="label">Số lượng</span>
        <div class="subsection-content">
            <input aria-label="Quantity" type="number" id="Quantity" name="Quantity"  class="input-text suppress " min="0" max="32.0" value="1" data-available="32">
            <a href="javascript:void(0)" onclick="SubmitSP()" name="add-to-cart" class="btn btn-primary btn-circle">Thêm vào giỏ hàng</a>
        </div>
    </div>
</div>
