<h4 class="title">Bạn cần thêm thông tin về sản phẩm?</h4>
<a class="btn btn-outline-primary btn-ask collapsed" href="javascript: void(0)" data-toggle="collapse" data-target="#form-question" aria-expanded="false" aria-controls="form-question"></a>

<form>
    <div class="form-question-container collapse" id="form-question">
        <h5 class="label">Chọn một vấn đề bạn đang quan tâm:</h5>
        <select class="mdb-select md-form form-control" searchable="Tìm..">
            <option value="" disabled selected>Chọn một chủ đề</option>
            <option value="1">Vận chuyển</option>
            <option value="2">Tính năng sản phẩm</option>
            <option value="3">Chế độ bảo hành</option>
            <option value="3">Chính sách đổi trả</option>
            <option value="3">Chính sách trả góp</option>
        </select>
        <h5 class="label">Câu hỏi:</h5>
        <textarea class="form-control" rows="5"></textarea>
        <h5 class="label">Email:</h5>
        <input type="email" class="form-control" />
        <h5 class="label">Số điện thoại:</h5>
        <input type="tel" class="form-control" />
        <h5 class="label">Địa chỉ:</h5>
        <input type="text" class="form-control" />
        <div>Khi nhấn nút gửi đi, điều đó có nghĩa bạn đã đọc và chấp nhận chính sách bảo mật của chúng tôi.</div>
        <div>
            <button class="btn btn-primary" type="submit">Gửi ngay</button>
        </div>
    </div>
</form>

