<div class="header-promotion-message">
    <a style="text-decoration: none;font-weight: bold;" href="#" aria-label="Free Shipping" tabindex="0">Giao hàng toàn quốc, miễn phí ship trong bán kính 30 km</a>
</div>