<div class="delivery-form">
    <h5 class="title"> Thông tin liên hệ</h5>
    <form>
        <div class="row">
            <input class="form-control" type="email" placeholder="Email" name="email">
        </div>
        <div class="row">
            <input class="form-control col" type="text" placeholder="Họ và tên đêm" name="firstname">
            <input class="form-control col" type="text" placeholder="Tên" name="lastname">
        </div>
        <div class="row">
            <input class="form-control col" type="text" placeholder="Địa chỉ" name="address">
        </div>
        <div class="row">
            <input class="form-control col" type="text" placeholder="Địa chỉ cơ quan" name="address2">
            <input class="form-control col" type="text" placeholder="Mã bưu chính" name="postalcode">
        </div>
        <div class="row">
            <input class="form-control col" type="text" placeholder="Quận/huyện" name="city">
            <input class="form-control col" type="text" placeholder="Tỉnh/thành phố" name="region">
        </div>
        <div class="row">
            <input class="form-control col" type="number" placeholder="Số điện thoại" name="phone">
            <select id="inputState" class="form-control col">
                <option selected>Chọn quốc gia...</option>
                <option>...</option>
            </select>
        </div>
        <div class="row">
                 <div class="col-12 col-lg-12 col-sm-12 col-md-12" style="text-align:right;">
                     <input type="button" class="btn btn-primary" value="Gửi thông tin"/>
                 </div>
            </div>
</form>
</div>